.u-container {
    margin: auto;
    max-width: 800px;
    padding: 5rem 2rem;
}

body {
    margin: 0;
    box-sizing: border-box;
}

img {
    opacity: 0;
    transition: visibility 1s, opacity 1s;
    visibility: hidden;
    width: 100%;

    &.loaded {
        opacity: 1;
        border: 5px solid black;
        visibility: visible;
    }
}
