* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

p {
    margin-bottom: 2rem;
}

p:last-child {
    margin: 0;
}

img {
    width: 100%;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 1.6rem;
}

.u-placeholder {
    margin-bottom: 2rem;
    display: block;
    height: 300px;
    background: #eee;
}

.u-container {
    max-width: 80rem;
    padding: 5rem 0;
    margin: auto;
}
